@font-face {
    font-family: pop;
    src: url(./Fonts/Poppins-Medium.ttf);
}
body{
    background-color: #F9F5F2;
    font-family: pop;
}

.flex{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    flex-wrap: wrap;
}
.visit-container{
    width: 500px;
    height: 500px;
}
.formski input {
    margin: 2% 0;
    width: 100%;
    padding-bottom: 2px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(10, 10, 10);
}
input:focus {
    outline: none;
    border-bottom: 2px solid rgb(10, 10, 10);
}
#submit{
    border: none;
    border-radius: 5px;
    background-color: rgb(71, 63, 63);
    font-size: 15px;
    color: #F9F5F2;
    padding: 5px 10px;
    width: 30%;
}
.titles{
    margin: 0;
    font-size: 3rem;
    color: rgb(10, 10, 10);
    font-weight: 900;
}
.history-container {
    width: 500px;
    height: 500px;
}
.history-box{
    background-color: rgb(71, 63, 63);
    width: 100%;
    height: 100px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
}
.history-date{
    font-size: 15px;
    margin: 0;
    color: #F9F5F2;
}
.history-name{
    color: #F9F5F2;
    font-size: 25px;
    margin: 0;
    font-weight: 800;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close {
    position: absolute;
    top: 10px;
    font-size: 30px;
    left: 10px;
    /* Adjusted to top left corner of .popup-content */
    cursor: pointer;
}
/* home page images and text */
.flex-cont {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rev {
    margin-top: 2rem;
    flex-direction: row-reverse;
    margin-bottom: 5rem;
}

.the-text {
    width: 600px;
}

.the-text h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
}

.the-text h5 {
    color: #1f1f1f;
    margin-top: 5px;
    font-weight: 100;
    font-size: 1rem;
}

.the-text h5 span {
    color: #AA2F2F;
    text-decoration: underline;
}

.imagyo img {
    height: 500px;
    width: fit-content;
    border-radius: 250px;
}
.opener-button {
    height: 50px;
    margin-top: 20px;
    padding: 0 40px;
    margin-right: 20px;
    border: none;
    color: #ffffff;
    background-color: #AA2F2F;
    border-radius: 5px;
}
.opener-button:hover{
    background-color: #90131b;
    transition: 0.3s;
}
/* this is for the admin page*/
.student-flex {
    width: 100%;
    display: flex;
    padding: 0 5%;
}

.admin-container {
    width: 90%;
    padding: 0 5%;
}

.admin-flex {
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.admin-cards {
    width: 200px;
    height: 200px;
    background-color: #1f1f1f;
}